<style type="text/css">
body{font-family:arial;margin:auto;display:block;position:relative}label{display:block}.inline{display:inline !important}
.pagebreak{margin-top:40px;margin-bottom:40px}.pull-left{float:left}.pull-right{float:right}.width-25{width:25%}.width-50{width:45%}
.width-40{width:40%}.width-60{width:60%}.width-30{width:30%}.width-70{width:70%}.width-100{width:100%}.clearfix{clear:both}
.text-center{text-align:center}.text-left{text-align:left}.text-right{text-align:right}.text-uppercase{text-transform:uppercase}
.red{color:#e04e67}.pale{opacity:.5}label{color:#777;border-bottom:1px solid #ddd;text-transform:uppercase;font-size:.7em;margin-bottom:10px;margin-left:10px;margin-right:10px}
.value{display:block;margin-top:5px;padding:10px;padding-top:5px;margin-top:0px;font-size:.9em;margin-bottom:20px;margin-right:10px}
.normal-weight{font-weight:normal}.text-center.normal-weight.red{text-align:left}tr th{text-align:left;padding:10px}
tr th label{display:block;padding:0px;border:none;margin-left:0;margin-bottom:0}.table .value{margin-bottom:0}
.table.bordered td,.table.bordered th{border:0px solid #ddd}p{font-size: .9em;}.table.bordered th{background-color: #efeadd;}
</style>

<!-- BASIC INFORMATION -->
<body>
<div class="">

  <?php $first = $data['first']; ?>
  <h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Summary of Advice</h5>
  <hr /><p></p>
  <!-- <h3 class="text-center normal-weight red">Basic Information</h3> -->
  <table class="width-100" style="font-size:130%" cellspacing="5">
    <tr>
      <td>
        <label>My advice to you:</label><br />
        <span class="value">Lorem ipsum dolor sit amet blah blah</span>
      </td>
    </tr>

    <tr>
      <td>
        <label>Home loan:</label><br />
        <span class="value">Lorem ipsum dolor sit amet blah blah</span>
      </td>
    </tr>

    <tr>
      <td>
      	<label>Risk</label>
      	<ul>
      		<li>
      			<label display: >Medical:</label><span class="value">Lorem ipsum dolor sit amet blah blah</span>
      		</li>
      		<li>
      			<label>Income:</label><span class="value">Lorem ipsum dolor sit amet blah blah</span>
      		</li>
      		<li>
      			<label>Trauma:</label><span class="value">Lorem ipsum dolor sit amet blah blah</span>
      		</li>
      		<li>
      			<label>TPD:</label><span class="value">Lorem ipsum dolor sit amet blah blah</span>
      		</li>
      		<li>
      			<label>Life:</label><span class="value">Lorem ipsum dolor sit amet blah blah</span>
      		</li>
      		<li>
      			<label>Other:</label><span class="value">Lorem ipsum dolor sit amet blah blah</span>
      		</li>
      	</ul>
      </td>
    </tr>

    <tr>
      <td>
        <label>Why is my advice apropriate for you:</label><br />
        <span class="value">Lorem ipsum dolor sit amet blah blah</span>
      </td>
    </tr>

    <tr>
      <td>
        <label>Risks relevant to my advice:</label><br />
        <span class="value">Lorem ipsum dolor sit amet blah blah</span>
      </td>
    </tr>

    <tr>
      <td>
        <label>What my advice does not cover:</label><br />
        <span class="value">Lorem ipsum dolor sit amet blah blah</span>
      </td>
    </tr>

    <tr>
      <td>
        <label>Fees and commissions:</label><br />
        <span class="value">Lorem ipsum dolor sit amet blah blah</span>
      </td>
    </tr>

    <tr>
      <td>
        <label>Next steps:</label><br />
        <span class="value">Lorem ipsum dolor sit amet blah blah</span>
      </td>
    </tr>
  </table>

  <table class="width-100" style="font-size:130%">
  	<tr>
  		<td style="width: 5%;">
  			<label>Signed:</label>
  		</td>
  		<td style="width: 45%;">
  			<p style="border-bottom: 1px solid #777;"></p>
  		</td>
  		<td style="width: 5%;">
  			<label>Date:</label>
  		</td>
  		<td style="width: 45%;">
  			<p style="border-bottom: 1px solid #777;"></p>
  		</td>
  	</tr>
  </table>
</div>

<!-- INTRODUCTION -->
<div class="" style="font-size:130%">
  <h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Introduction</h5>
  <hr /><p></p>
  
  <p>
  	This Statement of Advice is a record of our meeting on <span class="red">Insert Date</span>, in which we discussed your personal financial circumstances and established what advice you sought in relation to your personal debt and risk insurance.
  </p>

  <p>
  	The following is a summary of my understanding of the facts you provided to me and your needs as discussed at our meeting:
  </p>

</div>
<!-- END INTRODUCTION -->


<!-- YOUR KEY DETAILS -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Your Key Details</h5>
<hr /><p></p>
<div class="" >
  <!-- <h3 class="text-center normal-weight red">Children</h3> -->
  	<p>
	  	During our discussions and from the information you have provided to me, your personal details can be summarised as follows:
	 </p>

      <table cellspacing="5" class="table bordered width-100" style="font-size:130%">
        <tr>
          <th><label>Personal Details</label></th>
          <th><label>Client 1</label></th>
          <th><label>Client 2</label></th>
        </tr>

        <tr>
          <td><span class="value">Title</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">First Name</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Surname</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Date of Birth</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>
      </table><br><br>

      <table cellspacing="5" class="table bordered width-100" style="font-size:130%">
        <tr>
          <th colspan="3"><label>Contact Details</label></th>
        </tr>

        <tr>
          <td><span class="value">Address</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Telephone</span></td>
          <td colspan="2"><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Mobile</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Email</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>
      </table><br><br>

      <table cellspacing="5" class="table bordered width-100" style="font-size:130%">
        <tr>
          <th colspan="3"><label>Employment Details</label></th>
        </tr>

        <tr>
          <td><span class="value">Employment Type</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Occupation</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Employer</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Gross Annual Salary</span></td>
          <td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
          <td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
        </tr>
      </table><br><br>

      <table cellspacing="5" class="table bordered width-100" style="font-size:130%">
        <tr>
          <th colspan="5"><label>Dependants</label></th>
        </tr>

        <tr>
          <td><span class="value">Name</span></td>
          <td colspan="2"><span class="value">Dick</span></td>
          <td colspan="2"><span class="value">Dick</span></td>
        </tr>

        <tr>
          <td><span class="value">Gender and Age</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
          <td><span class="value">Dick</span></td>
        </tr>
      </table><br><br>

      <p>
      	If any of the above details are incorrect, please notify me of any amendments before implementing any recommendations that may be contained within this document.
      </p>
  
</div>
<br><br>
<!-- end of YOUR KEY DETAILS -->

<!-- ASSETS AND LIABILITIES -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Assets and Liabilities</h5>
<hr /><p></p>
<div class="">
  <br>
  <table cellspacing="5" class="table bordered width-100" style="font-size:130%">
    <tr>
      <th><label>Assets</label></th>
      <th><label>Owner</label></th>
      <th><label>Value</label></th>
      <th><label>Liability</label></th>
      <th><label>Net Value</label></th>
    </tr>

    <tr>
      <td><span class="value">Property</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value">$</span></td>
    </tr>

    <tr>
      <td><span class="value">Cash</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value">$</span></td>
    </tr>

    <tr>
      <td><span class="value">Other</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value">$</span></td>
    </tr>

    <tr>
      <td><span class="value"></span></td>
      <td><span class="value"></span></td>
      <td><span class="value">Sub-total</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value">$</span></td>
    </tr>
  
    <tr>
      <th><label>Liabilities</label></th>
      <th><label>Owner</label></th>
      <th><label>Lender</label></th>
      <th><label>Liability</label></th>
      <th><label></label></th>
    </tr>

    <tr>
      <td><span class="value">Hire Purchase</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value"></span></td>
    </tr>

    <tr>
      <td><span class="value">Credit Card</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value"></span></td>
    </tr>

    <tr>
      <td><span class="value">Personal Loan</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value"></span></td>
    </tr>

    <tr>
      <td><span class="value">Other</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">Dick</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value"></span></td>
    </tr>

    <tr>
      <td><span class="value"></span></td>
      <td><span class="value"></span></td>
      <td><span class="value">Sub-total</span></td>
      <td><span class="value">$</span></td>
      <td><span class="value"></span></td>
    </tr>
    <tr>
      <td><span class="value"></span></td>
      <td><span class="value"></span></td>
      <td><span class="value"></span></td>
      <th><span class="value">Total Net Worth</span></th>
      <td><span class="value">$</span></td>
    </tr>
  </table>

  	<div style="font-size: 130%;">
		<h4>Note</h4>
		<p>
	  		As the above information has been used in preparing our recommendations please advise me of any errors or omission. The total column indicates the value of assets and liabilities that are owned by the client and/or partner, either directly or indirectly; via a Trust or Company. Therefore, this report does not show the value of any portion of the asset or liability that may be owned by a third party or associated entity.
		</p>
	</div>
</div>
<br>
<!-- end of ASSETS AND LIABILITIES -->

<!-- INCOME AND EXPENDITURE -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Income and Expenditure</h5>
<hr /><p></p>
<div class="">
	<br>
	<table cellspacing="5" class="table bordered width-100" style="font-size:130%">
		<tr>
			<th><label></label></th>
			<th><label>ClientName1</label></th>
			<th><label>ClientName2</label></th>
		</tr>

		<tr>
			<td><span class="value">Net Annual Salary</span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
		</tr>

		<tr>
			<td><span class="value">Other Income</span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
		</tr>

		<tr>
			<td><span class="value" style="text-align: right;">Income Totals</span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
		</tr>

		<tr>
			<td><p></p></td>
		</tr>

		<tr>
			<td colspan="2" style="font-weight: bold;" align="right"><span class="value">Total Monthly Household Income</span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
		</tr>

		<tr>
			<td colspan="2" style="font-weight: bold;" align="right"><span class="value">Total Monthly Expenditure</span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
		</tr>

		<tr>
			<td colspan="2" style="font-weight: bold;" align="right"><span class="value">Surplus Monthly Income</span></td>
			<td><span class="value">$ <span style="font-style: italic; float: right; font-size: .9em; color: #777;">per annum</span></span></td>
		</tr>

	</table>

  	<div style="font-size: 130%;">
		<h4>Note</h4>
		<p>
	  		I have a duty to identify your needs, based on the information you have given to me, and to then provide you with appropriate advice and recommendations. In some cases the cost of implementing all of the recommendations needs to be reassessed to factor in a client’s available surplus income. In our view, it is better that you are made aware of the full extent of your needs, whether they are affordable or not, so that you then have all of the information presented to you to make an informed decision on how you want to practically manage the risks you face.
		</p>
	</div>
</div>
<br>
<!-- end of INCOME AND EXPENDITURE -->

<!-- GOALS AND OBJECTIVES -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Goals and Objectives</h5>
<hr /><p style="font-size: 130%;">From our discussion we recorded that your stated goals and objectives that you want to meet are:
 </p>
<div class="">
	<br>
	<table cellspacing="5" class="table bordered width-100" style="font-size:130%">
		<tr>
			<th><label>Goals and Objectives</label></th>
			<th><label>Estimated Cost</label></th>
			<th><label>Timeframe (years)</label></th>
		</tr>

		<tr>
			<td><span class="value">Home Purchase Deposit</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Repaying Short-term Debt</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Buy a Home</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Other Major Spending</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Superannuation</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Debt Reduction</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Upgrade Home</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Comfortable Retirement</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>
	</table>
</div>
<br>
<!-- end of GOALS AND OBJECTIVES -->

<!-- SUMMARY OF YOUR CURRENT NEEDS -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Goals and Objectives</h5>
<hr /><p style="font-size: 130%;">From our discussion we recorded that your stated goals and objectives that you want to meet are:
 </p>
<div class="">
	<br>
	<table cellspacing="5" class="table bordered width-100" style="font-size:130%">
		<tr>
			<th><label>Need</label></th>
			<th><label>Amount(Sum Assured)</label></th>
			<th><label>Event</label></th>
			<th><label>Why it’s needed</label></th>
		</tr>

		<tr>
			<td><span class="value">Home Purchase Deposit</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Repaying Short-term Debt</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Buy a Home</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Other Major Spending</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Superannuation</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Debt Reduction</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Upgrade Home</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Comfortable Retirement</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>
	</table>
</div>
<br>
<!-- end of SUMMARY OF YOUR CURRENT NEEDS -->

<!-- SUMMARY OF YOUR CURRENT NEEDS -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Summary of your Current Needs</h5>
<hr /><p style="font-size: 130%;">From our discussion we recorded that your stated goals and objectives that you want to meet are:
 </p>
<div class="">
	<br>
	<table cellspacing="5" class="table bordered width-100" style="font-size:130%">
		<tr>
			<th><label>Need</label></th>
			<th><label>Amount(Sum Assured)</label></th>
			<th><label>Event</label></th>
			<th><label>Why it’s needed</label></th>
		</tr>

		<tr>
			<td><span class="value">Mortgage / Loans</span></td>
			<td><span class="value">$</span></td>
			<td><span class="value"></span></td>
			<td>
				<span class="value">
					<ul>
						<li>To buy your own home</li>
						<li>To rennovate your own home</li>
						<li>To move to a bigger home</li>
						<li>To restructure your existing debt</li>
					</ul>
				</span>
			</td>
		</tr>

		<tr>
			<td><span class="value">Repaying Short-term Debt</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Buy a Home</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Other Major Spending</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Superannuation</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Debt Reduction</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Upgrade Home</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>

		<tr>
			<td><span class="value">Comfortable Retirement</span></td>
			<td><span class="value">$</span></span></td>
			<td><span class="value"></span></span></td>
		</tr>
	</table>
</div>
<br>
<!-- end of SUMMARY OF YOUR CURRENT NEEDS -->

<!-- SUMMARY OF YOUR CURRENT NEEDS -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">My Advice Regarding Mortgages and Loans</h5>
<hr /><p style="font-size: 130%;"></p>

<div style="font-size: 130%;">
	<p>This section explains:</p>
	<ul>
		<li>What my recommendation is and why it is appropriate for you</li>
		<li>Any disadvantages of my recommendation</li>
		<li>The consequences of replacing one loan with another</li>
		<li>The important things my recommendation does not deal with.</li>
	</ul>

	<h4>Home Loan Recommendations</h4>

	<p>[FREE TEXT]</p>
	<p>[SET EXAMPLE]</p>

	<p>
		[Home Loan of $300,000 - Due to your excellent financial position I was able to approach all the main lenders to establish which were able to offer you the best terms for your circumstances. The outcome of this exercise was that the ANZ were able to offer you 25 points off both the fixed and floating rates as well as $1,000 contribution towards your legal fees.
		I am delighted to inform you that I have secured a conditional offer from the ANZ of $300,000 and have attached the letter of offer which outlines the conditions.
		We still have to finalise the home loan structure and it is important to bear in mind the need for flexibility that provides the opportunity for bulk reductions off the principle.  I recommend that we put a portion of the mortgage on the floating rate and the remainder on a fixed rate and I will be in contact with you over the next few days to discuss this further.
		Further to our discussions and agreements at our meeting I have further analysed the facts gathered and I now recommend the implementation of the following risk insurance plans to ensure that once you have secured your family home you are able to maintain your home loan repayments if an unforeseen disaster event were to happen to you such as sickness or disability.]
	</p>

	<h4>
		Home Loan Product Recommendations
	</h4>
</div>

<div class="">
	<br>
	<h3 class="text-center normal-weight red" style="font-size:130%">Mortgage</h3>
	<table cellspacing="5" class="table bordered width-100" style="font-size:130%">
		<tr>
			<th colspan="3" align="center" style="text-align: center;"><label>ANZ - Total Borrowing - $300,000</label></th>
		</tr>
		<tr>
			<th><label>Terms</label></th>
			<th><label>Rate</label></th>
			<th><label>Repayments</label></th>
		</tr>
		<tr>
			<td><span class="value">[FREE TEXTS]</span></td>
			<td><span class="value">[FREE TEXTS]</span></td>
			<td><span class="value">[FREE TEXTS]</span></td>
		</tr>
	</table>
</div>
<br>
<!-- end of SUMMARY OF YOUR CURRENT NEEDS -->

<!-- ADVICE REGARDING PERSONAL RISK INSURANCE -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">My Advice Regarding Personal Risk Insurance</h5>
<hr/><p style="font-size: 130%;"></p>

<div style="font-size: 130%;">
	<p>This section explains:</p>
	<ul>
		<li>What my recommendation is and why it is appropriate for you</li>
		<li>Any disadvantages of my recommendation</li>
		<li>The consequences of replacing one loan with another</li>
		<li>The important things my recommendation does not deal with.</li>
	</ul>

	<h4>Home Loan Recommendations</h4>
	
	<p>Based on your current financial situation and your stated goals, as discussed in our meeting and/or recorded in your Fact Find, we have determined that your risk needs at present are:</p>
	
	<p>[SET EXAMPLE]</p>

	<h5>Life Insurance, $600,000</h5>
	<p>
		This will provide enough funds to cover your mortgage debt and provide enough money to put in a trust for your little girl in the event of your premature death.
	</p>

	<h5>Trauma Insurance, Stand-Alone, $108,000 with early cancer payment option of $27,000</h5>
	<p>
		This is a tax free lump sum benefit that will be paid to you on the diagnosis of one of 42 serious conditions. This benefit will remove the financial worry that comes with serious illness allowing you to focus on your recovery. We have based this figure on one year of your gross salary. This will buy you some ‘financial stress free time’ whilst you are recovering from your illness.
	</p>

	<h5>Loan Repayment Insurance, $1,980 per month, 8 week wait, to age 65</h5>
	<p>
		This benefit will provide you with an income to meet your home loan repayments in the event of you being unable to work due to sickness or disability. This benefit is not offset by ACC payments. If included, this benefit may also be claimed in the event of you being made involuntarily redundant. The optional redundancy benefit has a 6 month stand down period and a 6 month benefit period.
	</p>

	<h5>Income Protection, $2,970 per month, Agreed Value, 8 week wait, to age 65</h5>
	<p>
		This benefit will provide you with an income in the event of sickness and disability and you being unable to work. This benefit would be in addition to the Loan Repayment Insurance covering your loan repayments and would provide you with an income to meet your living costs. Once we have acquired details of your existing Medical Assurance Income Protection policy we will ascertain whether it is prudent to replace it with a new Income Protection policy that is not cancellable.
	</p>

	<h5>Absolute Health with Specialists and Tests, $300 excess for your family</h5>
	<p>
		This benefit will provide you with a comprehensive Medical cover that will provide you with the ability to meet Specialists, Tests and Surgical costs.
	</p>

	<p>
		[Wherever possible when multiple covers are required we try to recommend the same single company for all covers. We have found this creates “buying power” for our clients in the event of claims, as well as ease of underwriting. Obtaining covers from multiple companies requires providing each with their own set of medical requirements, plus you may also be required to pay multiple policy fees.]
	</p>

	<p>
		[We also recommend that wherever possible all insurance contracts should include a Waiver of Premium benefit. This means that in the event of a claim being paid you don’t have to continue to find money from your reduced income and/or savings to pay ongoing premiums. This benefit pays your premiums for you whilst you are on claim. ]
	</p>

	<p>
		[Of the 15 companies researched, we recommend AIA Life / AMP / Asteron / AXA / Fidelity Life / OnePath Life / Partners Life / Tower to provide you with the most comprehensive package that includes all of the covers we have identified that you need.]
	</p>

	<h4>Personal Risk Product Recommendations</h4>

</div>

<div class="">
	<p>The cover details and premium breakdowns for my recommendations are listed below:</p>
	<table cellspacing="5" class="table bordered width-70" style="font-size:130%">
		<tr>
			<th colspan="3" align="center" style="text-align: center;"><label>Partners Life - Monthly Premiums</label></th>
		</tr>
		<tr>
			<td></td>
			<td><span class="value">ClientName1</span></td>
		<tr>
			<td><span class="value">Life Insurance $600,000</span></td>
			<td><span class="value">$80.03</span></td>
		</tr>
		<tr>
			<td><span class="value">Trauma,  Stand Alone, $108,000 inc $27,000 early cancer payment option</span></td>
			<td><span class="value">$78.35</span></td>
		</tr>
		<tr>
			<td><span class="value">Mortgage Repayment, $1,980  per month, 8 week wait, to age 65</span></td>
			<td><span class="value">$101.75</span></td>
		</tr>
		<tr>
			<td><span class="value">Mortgage Repayment Redundancy Insurance $1,980  per month, 6 month payment period, 6 month stand down</span></td>
			<td><span class="value">$34.91</span></td>
		</tr>
		<tr>
			<td><span class="value">Income Protection, $2,970 per month, Agreed Value, 8 week wait, to age 65</span></td>
			<td><span class="value">$161.16</span></td>
		</tr>
		<tr>
			<td><span class="value">Waiver of Premium, 4 week wait</span></td>
			<td><span class="value">$33.28</span></td>
		</tr>
		<tr>
			<td><span class="value">Absolute Health with Specialists and Tests, $300 for  your children</span></td>
			<td><span class="value">$128.02</span></td>
		</tr>
		<tr>
			<th colspan="3" align="center" style="text-align: center;"><label>A Policy Fee of $7.95 applies</label></th>
		</tr>
	</table>
</div>
<br>

<div class="">
	<p style="font-size: 130%;">The covers and premiums you apply for are subject to underwriting acceptance.</p>
	<table cellspacing="5" class="table bordered width-70" style="font-size:130%">
		<tr>
			<th colspan="3" align="center" style="text-align: center;"><label>Fidelity Life Monthly Premiums<br>(Premiums are subject to underwriting)</label></th>
		</tr>
		<tr>
			<td></td>
			<td><span class="value">ClientName2</span></td>
		<tr>
			<td><span class="value">Life Insurance $300,000</span></td>
			<td><span class="value">$77.18</span></td>
		</tr>
		<tr>
			<td><span class="value">Trauma,  Stand Alone, $108,000</span></td>
			<td><span class="value">$70.40</span></td>
		</tr>
		<tr>
			<td><span class="value">Mortgage Repayment Insurance, $1,980  per month, 8 week wait, to age 65</span></td>
			<td><span class="value">$100.92</span></td>
		</tr>
		<tr>
			<td><span class="value">Mortgage Repayment Redundancy Insurance $1,98  per month, 6 month payment period, 6 month stand down</span></td>
			<td><span class="value">$29.70</span></td>
		</tr>
		<tr>
			<td><span class="value">Income Protection, $2,970 per month, Agreed Value, 8 week wait, to age 65</span></td>
			<td><span class="value">$180.14</span></td>
		</tr>
		<tr>
			<td><span class="value">Waiver of Premium, 4 week wait</span></td>
			<td><span class="value">$14.39</span></td>
		</tr>
		<tr>
			<th colspan="3" align="center" style="text-align: center;"><label>A Policy Fee of $7.95 applies</label></th>
		</tr>
	</table>
	<br><br>
	<p style="font-size: 130%;">The covers and premiums you apply for are subject to underwriting acceptance.</p><br>
	<p style="font-size: 130%;">We have quoted AIA Life / AMP / Asteron / AXA / Fidelity Life / OnePath Life / Partners Life / Tower due to their quality products and their superior claims payment ability rating with AM Best. AIA Life / AMP / Asteron / AXA / Fidelity Life / OnePath Life / PartnersLife / Tower is rated A+ (superior) / A+ / A / A- / B+.
 </p>
</div>
<br>
<!-- end of ADVICE REGARDING PERSONAL RISK INSURANCE -->

<!-- POSSIBLE DISADVANTAGES -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Possible Disadvantages Inherent In My Advice</h5>
<hr /><p style="font-size: 130%;"></p>

<div style="font-size: 130%;">
	<p>During my review of your situation, I have identified the following other needs which have not been addressed.</p>
</div>

<div class="">
	<br>
	<h3 class="text-center normal-weight red" style="font-size:130%">Other Needs Identified</h3>
	<table cellspacing="5" class="table bordered width-100" style="font-size:130%">
		<tr>
			<th><label>Issue</label></th>
			<th><label>Recommendation</label></th>
		</tr>
		<tr>
			<td><span class="value">Dwelling and Contents Insurance</span></td>
			<td><span class="value">The Mortgagee will require current dwelling insurance in place before they will settle on your home loan. We are able to acquire quotes and put in place all types of general insurance including dwelling and contents insurance. Once you find a property we will work with you to ensure these details are provided so we can provide the certificate of insurance to your solicitor and the lender.</span></td>
		</tr>
	</table>
</div>
<br>
<!-- end of POSSIBLE DISADVANTAGES -->

<!-- POSSIBLE DISADVANTAGES -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">What Else You Need To Know</h5>
<hr /><p style="font-size: 130%;"></p>

<div style="font-size: 130%;">
	<h4>What are my fees?</h4>
	<p>During my review of your situation, I have identified the following other needs which have not been addressed.</p>

	<h5>Home loans</h5>
	<p>My company is (I am) a member of TNP, which holds contracts with home loan product providers that provide a commission payment on settlement based on the size of the loan.  The commission rate ranges from 0.6% - 0.8% of the loan amount.</p>

	<h5>Insurance</h5>
	<p>My company is (I am) a member of TNP, which has commercial contracts in place with insurance companies that provide a commission income based on a calculation of the premiums you pay. This income is paid directly from the product supplier to TNP and myself, but may include bonuses, overrides and soft sales rewards for work completed.</p>

	<h5>How am I remunerated?</h5>
	<p>As part of the process of arranging your home loan and insurances there may be assistance you need which is outside our contracted role with the financial product provider.  In these instances we are happy to complete work for you on an hourly rate, as listed below.</p>
</div>

<div class="">
	<br>
	<h3 class="text-center normal-weight red" style="font-size:130%">Other Needs Identified</h3>
	<table cellspacing="5" class="table bordered width-50" style="font-size:130%">
		<tr>
			<th><label>Direct Services</label></th>
			<th><label>Fees</label></th>
		</tr>
		<tr>
			<td><span class="value">Re-fix only</span></td>
			<td><span class="value">Lender</span></td>
		</tr>
		<tr>
			<td><span class="value">Re-fix and analysis</span></td>
			<td><span class="value">$225</span></td>
		</tr>
		<tr>
			<td><span class="value">Transaction support</span></td>
			<td><span class="value">$700</span></td>
		</tr>
		<tr>
			<td><span class="value">Letter of offer review</span></td>
			<td><span class="value">$225/hr</span></td>
		</tr>
		<tr>
			<td><span class="value">Application</span></td>
			<td><span class="value">$225/hr</span></td>
		</tr>
		<tr>
			<td><span class="value">Annual review</span></td>
			<td><span class="value">$400/hr</span></td>
		</tr>
	</table>
</div>
<br>
<!-- end of POSSIBLE DISADVANTAGES -->

<!-- FAQ -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">What Else You Need To Know</h5>
<hr /><p style="font-size: 130%;"></p>

<div style="font-size: 130%;">
	<h5>Do we guarantee the performance of loan products I have recommended?</h5>
	<p>No. the loans we have recommended must be ‘appropriate’ for you. However, we do not guarantee that the loans are the best for you or that they will perform in a particular way.</p>

	<h5>Does our recommendation have a time limit?</h5>
	<p>My company is (I am) a member of TNP, which holds contracts with home loan product providers that provide a commission payment on settlement based on the size of the loan.  The commission rate ranges from 0.6% - 0.8% of the loan amount.</p>

	<h5>Is your personal information protected?</h5>
	<p>Yes. Information about you will not be given to anyone without your written permission, unless the law says we must. Please see a copy of our privacy on Financial Services Credit Guide (FSCG).</p>

	<h5>How long does this approval process take?</h5>
	<p>Once we have all the required documentation and information from you, we expect that approval process will take no more than fourteen (14) days. However, further delays can occur due to lenders’ work loads of approval processes. We will of course aim to reduce the approval time for you.</p>

	<h5>Is there a free-look period?</h5>
	<p>All insurance policies have a minimum 14 day free look period, which gives the client time to read and understand their insurance policy wordings, terms and conditions and the right to cancel the policy without obligation if they change their mind or feel that the policy is not suitable for their needs.</p>
	<p>We would advise you to read your policy documents very carefully and make a note of any items or paragraphs that are confusing or unclear. We will be happy to assist with further clarification to ensure you have a full understanding of your insurance cover.</p>

	<h5>What are the terms and conditions for fixed rate loans?</h5>
	<p>For each year of the fixed rate term, you can make extra payments, of up to 5% of the loan balance (at the beginning of the fixed rate term) or $10,000 whichever is the lesser. These payments can be in the form of regular payments or lump sums at no extra cost to you.</p>
	<p>Any additional extra payments over this lump sum threshold will incur early repayment costs and an early repayment fee may be payable.</p>
	<p>We have enclosed a copy of the fixed rate home loan terms and conditions. Please read through this carefully and contact me if there is any area that you don’t understand.</p>

</div>

<br>
<!-- end of FAQ -->

<!-- CLIENT ACKNOWLEGEMENT -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Client Acknowledgement and Authority To Proceed</h5>
<hr /><p style="font-size: 130%;"></p>

<div style="font-size: 130%;">
	<h5>Before you sign this authority, we would like to check WE have done the following:</h5>
	<table cellspacing="5" class="table width-50">
		<tr>
	        <td>
	            <input type="checkbox" checked="checked" name="product1" value="hello">
	        </td>
	        <td>
	        	<span class="value">Shown you a copy of our approved product providers list</span>
	        </td>
	    </tr>
	    <tr>
	        <td>
	          	<input type="checkbox" name="product2" value="hello" disabled="disabled">
	        </td>
	        <td>
	        	<span class="value">Talked to you about your personal/business circumstances, loan needs and financial goals in a way that you understand, and answered your questions</span>
	        </td>
	    </tr>
	    <tr>
	        <td>
	          	<input type="checkbox" name="product2" value="hello" disabled="disabled">
	        </td>
	        <td>
	        	<span class="value">Discussed the risks involved in my recommendation</span>
	        </td>
	    </tr>
	    <tr>
	        <td>
	          	<input type="checkbox" name="product2" value="hello" disabled="disabled">
	        </td>
	        <td>
	        	<span class="value">Discussed any fees you will have to pay</span>
	        </td>
	    </tr>
	</table>

	<br>

	<h5>Before you sign this authority, we would like to check YOU have done the following:</h5>
	<table cellspacing="5" class="table width-50">
		<tr>
	        <td>
	            <input type="checkbox" checked="checked" name="product1" value="hello">
	        </td>
	        <td>
	        	<span class="value">Read all the documents we have given you and acknowledge that you will read the credit contract/loan agreement carefully before signing and advise us of any variances</span>
	        </td>
	    </tr>
	    <tr>
	        <td>
	          	<input type="checkbox" name="product2" value="hello" disabled="disabled">
	        </td>
	        <td>
	        	<span class="value">Checked that your information given to is accurate and understand that under the law we are required to report any fraud, forgery or illegal activities</span>
	        </td>
	    </tr>
	    <tr>
	        <td>
	          	<input type="checkbox" name="product2" value="hello" disabled="disabled">
	        </td>
	        <td>
	        	<span class="value">Asked us any questions you may have</span>
	        </td>
	    </tr>
	</table>

	<table cellspacing="5" class="table bordered width-100">
		<h4>Course of action</h4>
		<tr>
			<th><label>Recommendation</label></th>
			<th><label>Recommendation Taken in Full</label></th>
			<th><label>Other Level of Cover Taken</label></th>
			<th><label>No Action Taken</label></th>
		</tr>
		<tr>
			<td><span class="value">ANZ Home Loan $300,000</span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
		</tr>
		<tr>
			<td><span class="value">Life Insurance of $600,000</span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
		</tr>
		<tr>
			<td><span class="value">Mortgage Repayment and Redundancy Insurance, $1,980 per month Agreed Value, 4 week wait to age 65 benefit period</span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
		</tr>
		<tr>
			<td><span class="value">Income Protection, Agreed Value, $2,970 per month 8 week wait, to age 65 year benefit period</span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
		</tr>
		<tr>
			<td><span class="value">Standalone Trauma $108,000 with $24,000 Early Cancer Payment Option</span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
		</tr>
		<tr>
			<td><span class="value">Absolute Health with Specialists and Tests, for our family</span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
			<td><span class="value"></span></td>
		</tr>
	</table>

	<br><br>

	<table class="width-70">
	  	<tr>
	  		<td style="width: 5%;">
	  			<label>Signed:</label>
	  		</td>
	  		<td style="width: 65%;">
	  			<p style="border-bottom: 1px solid #777;"></p>
	  		</td>
	  		<td style="width: 5%;">
	  			<label>Date:</label>
	  		</td>
	  		<td style="width: 25%;">
	  			<p style="border-bottom: 1px solid #777;"></p>
	  		</td>
	  	</tr>
	  	<tr>
	  		<td colspan="4">
	  			<h4>ClientName1 Client1Surname</h4>
	  		</td>
	  	</tr>
  	</table>

  	<table class="width-70">
	  	<tr>
	  		<td style="width: 5%;">
	  			<label>Signed:</label>
	  		</td>
	  		<td style="width: 65%;">
	  			<p style="border-bottom: 1px solid #777;"></p>
	  		</td>
	  		<td style="width: 5%;">
	  			<label>Date:</label>
	  		</td>
	  		<td style="width: 25%;">
	  			<p style="border-bottom: 1px solid #777;"></p>
	  		</td>
	  	</tr>
	  	<tr>
	  		<td colspan="4">
	  			<h4>ClientName2 Client2Surname</h4>
	  		</td>
	  	</tr>
  	</table>

  	<table class="width-70">
	  	<tr>
	  		<td style="width: 5%;">
	  			<label>Signed:</label>
	  		</td>
	  		<td style="width: 65%;">
	  			<p style="border-bottom: 1px solid #777;"></p>
	  		</td>
	  		<td style="width: 5%;">
	  			<label>Date:</label>
	  		</td>
	  		<td style="width: 25%;">
	  			<p style="border-bottom: 1px solid #777;"></p>
	  		</td>
	  	</tr>
	  	<tr>
	  		<td colspan="4">
	  			<h4>Adviser Name Adviser Surname</h4>
	  		</td>
	  	</tr>
	  	<tr>
	  		<td colspan="4"><p>For and/or on behalf of Adviser Company Name</p></td>
	  	</tr>
  	</table>
</div>

<br><br>
<!-- end of CLIENT ACKNOWLEGEMENT -->


<!-- Appendices -->
<h5 style="text-transform: uppercase; font-style: italic; color: #555;font-size:160%">Appendices</h5>
<hr /><p style="font-size: 130%;"></p>

<div style="font-size: 130%;">
	<h5>Product provider’s illustration / quote(s)</h5>
	<h5>Product provider information</h5>
	<h5>Letter of offer</h5>
	<h5>Supplementary information</h5>
</div>

</body>
